@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend Deca", sans-serif;
    background: hsl(233, 47%, 7%);
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
}
.container{
    background-color: hsl(244, 38%, 16%);
    margin: 7em 1em;
    padding: 0 0 2em;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.container .picture{
    background: url(/images/image-header-mobile.jpg) 
    no-repeat center/cover;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.container .picture .overlay{
    background-color: hsla(277, 64%, 61%,0.6);
    height: 250px;
    border-radius: 10px 10px 0 0;
}
 
.container .content h1{
    margin: 1em 0 .7em 0;
    padding: 0 .8em;
    line-height: 1.2;
    font-family: "Lexend Deca", sans-serif;
}
.container .content h1 span{
    color: hsl(277, 64%, 61%);
}
.container .content p {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 0 1em;
    font-size: 1.17rem;
    margin-bottom: 2em;
}
.container .content ul{
    list-style: none;
}
.container .content ul li{
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: .7rem;
    color: hsla(0, 0%, 100%, 0.75);
}
.container .content ul li span{
    display: block;
    margin-bottom: .2em;
    font-size: 1.5rem;
    text-transform: lowercase;
    color:white;
    font-weight: 700;
    font-family: "Lexend Deca", sans-serif;
}
.container #up{
    text-transform: uppercase;
}

.attribution{
    font-size: 11px;
    text-align: center;
    color: white;
    padding-bottom: 2em;
}
.attribution a {
    color: blue;
}

@media (min-width: 768px) {
    body{
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        padding: 5em;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-align: left;
    }
    .container .picture{
        background: url(/images/image-header-desktop.jpg) 
        no-repeat cover;
        min-width: 50%;
        height: 50vh;
        border-radius: 0 10px 10px 0;
    }
    .container .picture .overlay{
        height: 50vh;
        border-radius: 0 10px 10px 0;
    }
    .container .content ul{
        padding-left: 2em;
        display: flex;
    }
    .container .content ul li{
        margin-right: 5em;
        font-size: .7rem;
    }
    .container .content ul li span{
        display: block;
        text-transform: lowercase;
        font-family: "Lexend Deca", sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
    }
}

@media (min-width: 992px){
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .container .content:nth-child(2){
        padding: 0 3em;
    }
    .container .content p{
        margin-bottom: 3em;
        font-size: 1rem;
        padding: 0 2em 0 2em;
    }
}